.box-one {
    background-color: aqua;
    height: 20px;
    width: auto;
    padding: 5px;
    border: black 12px solid;
    margin: 20px
}

.box-two {
    background-color: bisque;
    height: 20px;
    width: 200px;
    padding: 5px;
    border: black 12px solid;
    margin: 20px;
}

.box-tree {
    background-color: brown;
    height: auto;
    width: auto;
    padding: 20px;
    border: black 12px solid;
    margin: 20px;
}

.box-four, .box-five {
    display: inline;
    background-color: chartreuse;
    padding: 5px;
    border: black 12px solid;
    margin: 10px;
}